In [1]:
import pandas as pd
import sys
%matplotlib inline

In [2]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)

Python version 3.6.1 | packaged by conda-forge | (default, May 23 2017, 14:31:56)
[GCC 4.2.1 Compatible Apple LLVM 6.1.0 (clang-602.0.53)]
Pandas version 0.20.2

# 排序

### 如何把一列升序排序?

In [4]:
# dataframe
df = pd.DataFrame(data={'col1':[0,10,2,30,4]})
df

   col1
0     0
1    10
2     2
3    30
4     4

In [5]:
# 按照 color 升序排序
df.sort_values(by='col1')

   col1
0     0
2     2
4     4
1    10
3    30

### 如何按索引排序?

In [6]:
# 未排序的索引

d = {'col2':[22,10,113]}

i = [pd.Timestamp('20130102'),
     pd.Timestamp('2013-01-01'),
     pd.Timestamp('1/3/2013')]
                 

df = pd.DataFrame(data=d, index = i)
df

            col2
2013-01-02    22
2013-01-01    10
2013-01-03   113

In [7]:
# 索引升序排序
df.sort_index()

            col2
2013-01-01    10
2013-01-02    22
2013-01-03   113

**作者:** [David Rojas](http://www.hedaro.com/)
<p class="text-muted">本教程由<a href="http://datarx.cn" target="_blank"><strong>派兰数据</strong></a>翻译</p>